.statistics-card-background {
	background-image: url("/statistics-card-bg.jpg");
	background-position: 50% 30%;
	background-repeat: no-repeat;

	@media (min-width: 1024px) {
		background-size: 600%;
	}

	@apply bg-cover;
}
